@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #03a9f4;
  --lightGray: #c4c4c4;
  --gray: #717171;
  --darkGray: #575757;
  --gradient1: #062431;
  --gradient2: #0e4d6d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 720px) {
  .mainlogoImg {
    width: 150px;
  }
  .landing_msg {
    display: none;
  }
}
@media only screen and (min-width: 720px) {
  body {
    background: white;
  }
  .landing_page {
    background-image: linear-gradient(
      90deg,
      var(--gradient1),
      var(--gradient2)
    );
  }

  .landing_msg {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--lightGray);
    text-transform: capitalize;
    display: block;
  }
  .login_box {
    background: #06202d;
    position: relative;
  }
  .logTitle {
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .log_input {
    height: 100%;
    background: rgba(0, 0, 0, 0.173);
    color: white;
    position: relative;
    z-index: 2;
  }

  .log_input:focus {
    color: rgb(255, 255, 255);
  }
  .log_input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 13px;
  }

  .log_input_label {
    position: absolute;
    font-size: 13px;
    left: 10%;
    z-index: 1;
    color: rgb(173, 172, 172);
  }

  .log_input_label_up {
    position: absolute;
    z-index: 1;
    color: rgb(173, 172, 172);
    font-size: 10px;
    left: 10%;
    transform: translateY(-14px);
  }

  /* .log_input:focus + .log_input_label {
    font-size: 10px;
    left: 10%;
    transform: translateY(-14px);
  } */

  .log_icon {
    position: absolute;
    left: 5%;
    color: rgb(113, 112, 112);
  }
  .toggle-button {
    padding: 0.5rem;
    color: rgb(179, 179, 179);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: 700ms;
  }

  .toggle-button:hover {
    color: #ffffff;
  }
  .linkColor {
    color: var(--blue);
    font-weight: 500;
    margin-left: 5px;
  }
  .logLinks {
    font-weight: 400;
    margin-inline: 5px;
  }
}

.logFieldBox {
  margin-bottom: 20px;
  height: 20%;
}

.floating-input-container {
  position: relative;
  margin: 10px 0;
  width: 370px;
}

.floating-input-container input {
  width: 100%;
  padding-left: 40px;
  padding-right: 55px;
  padding-block: 12px;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  background: transparent;
}

.floating-input-container label {
  position: absolute;
  left: 38px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #aaa;
  transition: all 0.2s ease;
  pointer-events: none; /* Prevent clicking on the label */
  background: #06202d;
  width: 180px;
  text-align: left;
  padding-left: 5px;
}

.floating-input-container input:focus + label,
.floating-input-container input.has-content + label {
  top: -3%;
  font-size: 12px;
  color: #007bff; /* Change color on focus */
  width: 120px;
}

.floating-input-container input:focus {
  border-color: #ffffff;
}

.passBtn {
  cursor: pointer;
  position: absolute;
  right: 2%;
  color: #717171;
}
.passBtn:hover {
  color: white;
}

.warningPass {
  position: absolute;
  bottom: -5%;
  color: #ff0000;
  font-size: 10px;
}

.divideLine {
  background: rgba(255, 255, 255, 0.427);
  width: 360px;
  height: 1px;
}

.divideBtn {
  position: absolute;
  left: 45%;
  width: 50px;
  text-align: center;
  background: #06202d;
  font-size: 12px;
  font-weight: 600;
}
.logIcons {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  cursor: pointer;
}
.logIconBox {
  background: #06202d;
  padding-inline: 10px;
  border: 1px solid rgba(128, 128, 128, 0.467);
}

.logIconBox:hover {
  background: #0c3c54;
}
.log_btn {
  min-height: 35px;
}
.fcgoogle {
  width: 48px;
  height: 48px;
}

/* FOOTER */
.footerTitle {
  margin-block: 10px;
}
.footerTitle span {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 13px;
}
.footerLinkBox span {
  margin-block: 5px;
  color: #a8a8a8;
  font-size: 12px;
}

/*ICONS*/

.Icongoogle {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23ffc107' d='M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917'/%3E%3Cpath fill='%23ff3d00' d='m6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691'/%3E%3Cpath fill='%234caf50' d='M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.9 11.9 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44'/%3E%3Cpath fill='%231976d2' d='M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917'/%3E%3C/svg%3E");
}

.Icontwitter {
  display: inline-block;
  width: 28.8px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 209'%3E%3Cpath fill='%2355acee' d='M256 25.45a105 105 0 0 1-30.166 8.27c10.845-6.5 19.172-16.793 23.093-29.057a105.2 105.2 0 0 1-33.351 12.745C205.995 7.201 192.346.822 177.239.822c-29.006 0-52.523 23.516-52.523 52.52c0 4.117.465 8.125 1.36 11.97c-43.65-2.191-82.35-23.1-108.255-54.876c-4.52 7.757-7.11 16.78-7.11 26.404c0 18.222 9.273 34.297 23.365 43.716a52.3 52.3 0 0 1-23.79-6.57q-.004.33-.003.661c0 25.447 18.104 46.675 42.13 51.5a52.6 52.6 0 0 1-23.718.9c6.683 20.866 26.08 36.05 49.062 36.475c-17.975 14.086-40.622 22.483-65.228 22.483c-4.24 0-8.42-.249-12.529-.734c23.243 14.902 50.85 23.597 80.51 23.597c96.607 0 149.434-80.031 149.434-149.435q0-3.417-.152-6.795A106.8 106.8 0 0 0 256 25.45'/%3E%3C/svg%3E");
}
